# Loan elegibility Prediction using (ANN's)

# Read Data

In [2]:
from warnings import filterwarnings
filterwarnings("ignore")
import pandas as pd
A = pd.read_csv("/Users/ABC/Downloads/loan/training_set.csv")

# preview

In [3]:
A.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849.0,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,NaN,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000.0,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583.0,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000.0,0.0,141.0,360.0,1.0,Urban,Y

# Missing Data Treatment

In [4]:
from PM8wd import replacer
replacer(A)

# Drop unwanted column

In [5]:
A = A.drop(labels=["Loan_ID"],axis=1)

# Define X and Y

In [6]:
Y = A[["Loan_Status"]]
X = A.drop(labels=["Loan_Status"],axis=1)

# Convert Y into a label encoded format

In [7]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Ynew = pd.DataFrame(le.fit_transform(Y),columns=["Loan_Status"])

# Preprocessing

In [12]:
from PM8wd import preprocessing
Xnew = preprocessing(X)

# Divide data in training and testing

In [13]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(Xnew,Ynew,test_size=0.2,random_state=21)

In [14]:
Xnew.shape

(614, 20)

# Create a Neural Network

In [16]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import SGD

In [17]:
es = EarlyStopping(patience=50)
nn = Sequential()
nn.add(Dense(200,input_dim=(20)))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(200))
nn.add(Dropout(0.2))
nn.add(Dense(1,activation="sigmoid"))

In [18]:
nn.compile(loss="binary_crossentropy",metrics="accuracy")
nn.fit(xtrain,ytrain,epochs=100,validation_split=0.2,callbacks=es,batch_size=4)

Epoch 1/100
98/98 [==============================] - 1s 12ms/step - loss: 0.6217 - accuracy: 0.7602 - val_loss: 0.5220 - val_accuracy: 0.8283
Epoch 2/100
98/98 [==============================] - 0s 4ms/step - loss: 0.5802 - accuracy: 0.7781 - val_loss: 0.5099 - val_accuracy: 0.7980
Epoch 3/100
98/98 [==============================] - 0s 4ms/step - loss: 0.5713 - accuracy: 0.7449 - val_loss: 0.5142 - val_accuracy: 0.8182
Epoch 4/100
98/98 [==============================] - 0s 4ms/step - loss: 0.5591 - accuracy: 0.7679 - val_loss: 0.7123 - val_accuracy: 0.8081
Epoch 5/100
98/98 [==============================] - 0s 4ms/step - loss: 0.5342 - accuracy: 0.7806 - val_loss: 0.5160 - val_accuracy: 0.8081
Epoch 6/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5618 - accuracy: 0.7832 - val_loss: 0.5583 - val_accuracy: 0.7374
Epoch 7/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5430 - accuracy: 0.7908 - val_loss: 0.6597 - val_accuracy: 0.6869
Epoch 8/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5456 - accuracy: 0.7934 - val_loss: 0.5676 - val_accuracy: 0.8081
Epoch 9/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5160 - accuracy: 0.7908 - val_loss: 0.4816 - val_accuracy: 0.8081
Epoch 10/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5338 - accuracy: 0.7806 - val_loss: 0.5169 - val_accuracy: 0.8182
Epoch 11/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5325 - accuracy: 0.7934 - val_loss: 0.5099 - val_accuracy: 0.7980
Epoch 12/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5076 - accuracy: 0.7832 - val_loss: 0.5699 - val_accuracy: 0.7374
Epoch 13/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5128 - accuracy: 0.7908 - val_loss: 0.5523 - val_accuracy: 0.8182
Epoch 14/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4996 - accuracy: 0.7832 - val_loss: 0.5248 - val_accuracy: 0.8182
Epoch 15/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5317 - accuracy: 0.7908 - val_loss: 0.5705 - val_accuracy: 0.7576
Epoch 16/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5086 - accuracy: 0.7959 - val_loss: 0.4881 - val_accuracy: 0.7980
Epoch 17/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5086 - accuracy: 0.7934 - val_loss: 0.5144 - val_accuracy: 0.7677
Epoch 18/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5200 - accuracy: 0.8010 - val_loss: 0.5064 - val_accuracy: 0.8081
Epoch 19/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5053 - accuracy: 0.7806 - val_loss: 0.5561 - val_accuracy: 0.8081
Epoch 20/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4943 - accuracy: 0.7934 - val_loss: 0.4800 - val_accuracy: 0.8081
Epoch 21/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4956 - accuracy: 0.8036 - val_loss: 0.5458 - val_accuracy: 0.7778
Epoch 22/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4924 - accuracy: 0.7934 - val_loss: 0.5334 - val_accuracy: 0.8081
Epoch 23/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5043 - accuracy: 0.8010 - val_loss: 0.4924 - val_accuracy: 0.8081
Epoch 24/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4916 - accuracy: 0.8087 - val_loss: 0.5193 - val_accuracy: 0.7980
Epoch 25/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4903 - accuracy: 0.7934 - val_loss: 0.5368 - val_accuracy: 0.8081
Epoch 26/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5035 - accuracy: 0.7959 - val_loss: 0.5456 - val_accuracy: 0.7980
Epoch 27/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4976 - accuracy: 0.8010 - val_loss: 0.5054 - val_accuracy: 0.7980
Epoch 28/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5067 - accuracy: 0.8061 - val_loss: 0.5259 - val_accuracy: 0.8081
Epoch 29/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4783 - accuracy: 0.7985 - val_loss: 0.5247 - val_accuracy: 0.7980
Epoch 30/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4812 - accuracy: 0.8112 - val_loss: 0.5224 - val_accuracy: 0.7879
Epoch 31/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4931 - accuracy: 0.7934 - val_loss: 0.5360 - val_accuracy: 0.7980
Epoch 32/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4873 - accuracy: 0.7959 - val_loss: 0.5206 - val_accuracy: 0.8081
Epoch 33/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4918 - accuracy: 0.8112 - val_loss: 0.5054 - val_accuracy: 0.8182
Epoch 34/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4777 - accuracy: 0.8036 - val_loss: 0.5398 - val_accuracy: 0.8182
Epoch 35/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4832 - accuracy: 0.8061 - val_loss: 0.5192 - val_accuracy: 0.7980
Epoch 36/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4753 - accuracy: 0.8061 - val_loss: 0.6210 - val_accuracy: 0.8081
Epoch 37/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4883 - accuracy: 0.7985 - val_loss: 0.5616 - val_accuracy: 0.7980
Epoch 38/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4912 - accuracy: 0.7959 - val_loss: 0.5254 - val_accuracy: 0.7980
Epoch 39/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4948 - accuracy: 0.8036 - val_loss: 0.5269 - val_accuracy: 0.7980
Epoch 40/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4902 - accuracy: 0.8036 - val_loss: 0.4962 - val_accuracy: 0.8081
Epoch 41/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4931 - accuracy: 0.8061 - val_loss: 0.5118 - val_accuracy: 0.7980
Epoch 42/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4971 - accuracy: 0.7934 - val_loss: 0.5199 - val_accuracy: 0.8081
Epoch 43/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4845 - accuracy: 0.8061 - val_loss: 0.5518 - val_accuracy: 0.7879
Epoch 44/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4917 - accuracy: 0.8036 - val_loss: 0.5609 - val_accuracy: 0.7980
Epoch 45/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4893 - accuracy: 0.8036 - val_loss: 0.5063 - val_accuracy: 0.7980
Epoch 46/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4829 - accuracy: 0.8112 - val_loss: 0.5372 - val_accuracy: 0.7879
Epoch 47/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4985 - accuracy: 0.8010 - val_loss: 0.5079 - val_accuracy: 0.7980
Epoch 48/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4872 - accuracy: 0.8087 - val_loss: 0.5172 - val_accuracy: 0.8081
Epoch 49/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4857 - accuracy: 0.8087 - val_loss: 0.5914 - val_accuracy: 0.8081
Epoch 50/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4936 - accuracy: 0.8036 - val_loss: 0.5133 - val_accuracy: 0.7980
Epoch 51/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4934 - accuracy: 0.7934 - val_loss: 0.5103 - val_accuracy: 0.8081
Epoch 52/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4940 - accuracy: 0.8061 - val_loss: 0.5430 - val_accuracy: 0.8081
Epoch 53/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4873 - accuracy: 0.8138 - val_loss: 0.5352 - val_accuracy: 0.8081
Epoch 54/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4945 - accuracy: 0.8061 - val_loss: 0.5122 - val_accuracy: 0.8081
Epoch 55/100
98/98 [==============================] - 0s 4ms/step - loss: 0.4962 - accuracy: 0.8036 - val_loss: 0.5494 - val_accuracy: 0.7778
Epoch 56/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4946 - accuracy: 0.8087 - val_loss: 0.5128 - val_accuracy: 0.8081
Epoch 57/100
98/98 [==============================] - 0s 3ms/step - loss: 0.5012 - accuracy: 0.8138 - val_loss: 0.5107 - val_accuracy: 0.8081
Epoch 58/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4697 - accuracy: 0.8163 - val_loss: 0.6169 - val_accuracy: 0.7879

Epoch 59/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4975 - accuracy: 0.7908 - val_loss: 0.5220 - val_accuracy: 0.7980
Epoch 60/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4960 - accuracy: 0.8087 - val_loss: 0.5175 - val_accuracy: 0.7980
Epoch 61/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4937 - accuracy: 0.8112 - val_loss: 0.4980 - val_accuracy: 0.7980
Epoch 62/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4989 - accuracy: 0.8112 - val_loss: 0.5419 - val_accuracy: 0.8081
Epoch 63/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4796 - accuracy: 0.8163 - val_loss: 0.5051 - val_accuracy: 0.8182
Epoch 64/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4777 - accuracy: 0.7959 - val_loss: 0.5715 - val_accuracy: 0.7980
Epoch 65/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4941 - accuracy: 0.8061 - val_loss: 0.5417 - val_accuracy: 0.7778
Epoch 66/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4741 - accuracy: 0.8138 - val_loss: 0.4933 - val_accuracy: 0.8182
Epoch 67/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4967 - accuracy: 0.8036 - val_loss: 0.5210 - val_accuracy: 0.7879
Epoch 68/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4956 - accuracy: 0.7985 - val_loss: 0.5823 - val_accuracy: 0.7980
Epoch 69/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4975 - accuracy: 0.7985 - val_loss: 0.5252 - val_accuracy: 0.8081
Epoch 70/100
98/98 [==============================] - 0s 3ms/step - loss: 0.4965 - accuracy: 0.8036 - val_loss: 0.5320 - val_accuracy: 0.8081

# Read Data

In [20]:
import pandas as pd
B = pd.read_csv("/Users/ABC/Downloads/loan/testing_set.csv")

# preview

In [21]:
B.head(5)

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

# Missing data treatment

In [22]:
B.isna().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [23]:
from PM8wd import replacer
replacer(B)

# drop unwanted columns

In [24]:
B = B.drop(labels=["Loan_ID"],axis=1)

# preprocessing

In [25]:
from PM8wd import preprocessing
test = preprocessing(B)

In [27]:
test.shape

(367, 20)

In [28]:
Xnew.shape

(614, 20)

In [29]:
Q = []
for i in nn.predict(test):
    if(i[0] < 0.5):
        Q.append(0)
    else:
        Q.append(1)

In [31]:
#Q

In [33]:
pred = le.inverse_transform(Q)

In [35]:
#pred

# Prediction

In [38]:
D = pd.read_csv("/Users/ABC/Downloads/loan/testing_set.csv")

In [39]:
C = D[["Loan_ID"]]

In [40]:
C["Loan_Status_Predicted"] = pred

In [41]:
C

      Loan_ID Loan_Status_Predicted
0    LP001015                     Y
1    LP001022                     Y
2    LP001031                     Y
3    LP001035                     Y
4    LP001051                     Y
..        ...                   ...
362  LP002971                     Y
363  LP002975                     Y
364  LP002980                     Y
365  LP002986                     Y
366  LP002989                     Y

[367 rows x 2 columns]